body
{
	margin: 0;
	padding: 0;
}
ul
{
	list-style-type: none;
	background-color: lightblue;
	height: 30px;
	
	
}
a
{
	text-decoration: none;
	font-size: 25px;
	color:black;
}
li
{
	display: inline;
	font-style: 15px;
	padding: 10px;
	margin-left: 60px;


}
