body
{
	margin: 0;
	padding: 0;
}
ul
{
	list-style-type: none;
	background-color: red;
	height: 40px;
	width:100%;
	
	
}
a
{
	text-decoration: none;
	font-size: 25px;
	color:white;
	position: relative;
	top: 4px;
}
li
{
	display: inline;
	font-style: 15px;
	padding: 50px;
	margin-left: 35	px;
	position: relative;
	left: 70px;


}
.welcome
{
	background-color: pink;
	position: relative;
	bottom: 16px;
}
p
{
	text-align: justify;
	max-width: 1000px;
	max-height: 80px;
	position: absolute;
	left: 60px;
	font-size: 20px;
}
h6
{
	position: relative;
	bottom: -200px;
	left:60px;
	font-size: 20px;
}